.navbar-bg {
    background-color: #cbd5e9;
}

.navbarIcon {
    height: 2.2rem;
}

.navbar-custom-mr {
    display: inline;
    width: 100%;
}

.navbar-custom-mr2 {
    float: left;
}

.navbar-custom-mr3 {
    float: right;
}