.navbar-bg {
    background-color: #cbd5e9;
}

.navbarIcon {
    height: 2.2rem;
}

.navbar-collapsible {
    display: inline;
    width: 100%;
}

.navbar-collapsible-2 {
    float: left;
}

.navbar-collapsible-3 {
    float: right;
}